In [1]:
import sys

sys.path.append('C:\\Users\\Mark\\PycharmProjects\\machineLearningNstu')

from src.data.varian—Åe_analysis import get_observation_matrix

VALUES = [
    3.1, 2.9, 4.1, 3.9, 2.1, 1.9, 2.1, 1.9,
    3.9, 4.1, 4.9, 5.1, 2.9, 3.1, 3.0, 3.0,
    2.1, 1.9, 3.1, 2.9, 1.1, 0.9, 1.0, 1.0
]

In [2]:
get_observation_matrix(3, 4, 2, VALUES)

   Factor 1 Factor 2  Values
0        A1       B1     3.1
1        A1       B1     2.9
2        A1       B2     4.1
3        A1       B2     3.9
4        A1       B3     2.1
5        A1       B3     1.9
6        A1       B4     2.1
7        A1       B4     1.9
8        A2       B1     3.9
9        A2       B1     4.1
10       A2       B2     4.9
11       A2       B2     5.1
12       A2       B3     2.9
13       A2       B3     3.1
14       A2       B4     3.0
15       A2       B4     3.0
16       A3       B1     2.1
17       A3       B1     1.9
18       A3       B2     3.1
19       A3       B2     2.9
20       A3       B3     1.1
21       A3       B3     0.9
22       A3       B4     1.0
23       A3       B4     1.0